<!DOCTYPE html>
<html lang="es">
<head>
    <title>Football Live ⚽ | Noticias de futbol</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://www.football-live.lol">
    <meta name="title" content="Football Live | Noticias de futbol" />
    <meta name="description" content="Football Live, sitio para ver las principales noticias de la Premier League, Bundesliga, Serie A, LaLiga, Ligue 1, UEFA Champions League, entre otros.">
    <meta name="keywords" content="Champions, uefa, clubs, real madrid, barcelona, manchester city, liverpool, bayern">
    <meta name="distribution" content="global" />
    <meta name="author" content="Foobal Live" />
    <meta name="referrer" content="always" />
    <meta name="robots" content="all" />
    <link rel="icon" href="/img/favicon.ico" type="image/ico">
    <link href="/css/header.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/forum.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G2193Y7XNZ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G2193Y7XNZ');
</script>
<body>
    <header class="navbar navbar-expand-lg shadow-sm fixed-top">
        <div class="container container-header">
            <a href="/" class="navbar-brand">
                <img class="logo" src="/img/logo.png" width="25" alt="football-live">
                <span style="font-size:18px">football-live.lol</span>
            </a>
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse2" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="https://chromewebstore.google.com/detail/football-live/pdehjnikdhecaajakdgdoflodnbedfim" target="_blank" class="btn btn-info btn-sm fs-sm rounded order-lg-3 d-none d-lg-inline-flex">Descargar Extensión</a>
            <nav id="navbarCollapse2" class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="/footlive/trendingnews" class="nav-link">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a href="/footlive/extension" class="nav-link">Nuestra Extensión</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="container" class="view_news">
        <div id="left-column">
            <!-- Código de anuncio AdSense para la columna izquierda -->
            <div id="ads_left"></div>
        </div>
        <div id="center-column">
            <% if(data.success_msg)  { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= data.success_msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <% } %>
        </div>
        <div id="right-column">
            <!-- Código de anuncio AdSense para la columna derecha -->
            <div id="ads_right"></div>
        </div>
    </div>
    <script>
        
    </script>
    <script id="aclib" type="text/javascript" src="//acscdn.com/script/aclib.js" async></script>
    <script type="text/javascript">
        document.getElementById('aclib').addEventListener('load', function() {
            console.log('load aclib');
            aclib.runAutoTag({
                zoneId: 'b4zmnmgvqu',
            });

            aclib.runBanner({
                zoneId: '8396842',
                renderIn: '#ads_left'
            });

            aclib.runBanner({
                zoneId: '8396842',
                renderIn: '#ads_right'
            });
        });
    </script>
</body>
</html>