<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content=""/>
		<meta name="keywords" content="" />
		<title></title>
		<link href="/img/favico.png" rel="shortcut icon" type="image/ico" />
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div id="container">
			<div id="left-column">
				<!-- C칩digo de anuncio AdSense para la columna izquierda -->
				<h2>Anuncio izquierdo</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec libero vel felis rhoncus lacinia nec ut leo.</p>
			</div>
			<div id="center-column">
				<!-- iframe para cargar la p치gina en el centro -->
				<iframe id="myIframe" src="<%= data.url %>"></iframe>
			</div>
			<div id="right-column">
				<!-- C칩digo de anuncio AdSense para la columna derecha -->
				<h2>Anuncio derecho</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec libero vel felis rhoncus lacinia nec ut leo.</p>
			</div>
		</div>
		<script>
			// Obtener referencia al iframe
			var iframe = document.getElementById('myIframe');
	
			// Temporizador para verificar si el iframe se ha cargado correctamente
			var timer = setTimeout(function() {
				console.log('Error al cargar el iframe. Redirigiendo a la p치gina original.');
				window.location.href = '<%= data.url %>';
			}, 5000); // 5000 milisegundos (5 segundos)
	
			// Manejar evento de carga del iframe
			iframe.onload = function() {
				clearTimeout(timer); // Limpiar el temporizador si el iframe se carga correctamente
				console.log('El iframe se ha cargado correctamente.');
			};
		</script>
	</body>
</html>