<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content=""/>
		<meta name="keywords" content="" />
		<title></title>
		<link href="/img/favico.png" rel="shortcut icon" type="image/ico" />
		<link href="/css/style.css" rel="stylesheet" type="text/css" />
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1228245428350896" crossorigin="anonymous"></script>
	</head>
	<body>
		<div id="container">
			<div id="left-column">
				<!-- Código de anuncio AdSense para la columna izquierda -->
				<h2>Anuncio izquierdo</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec libero vel felis rhoncus lacinia nec ut leo.</p>
			</div>
			<div id="center-column">
				<!-- iframe para cargar la página en el centro -->
				<!--<iframe id="myIframe" src="https://as.com/futbol/primera/palo-para-el-barcelona-dest-se-rompe-el-cruzado-n/"></iframe>-->
				<iframe id="myIframe" src="<%= data.url %>"></iframe>
			</div>
			<div id="right-column">
				<!-- Código de anuncio AdSense para la columna derecha -->
				<h2>Anuncio derecho</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec libero vel felis rhoncus lacinia nec ut leo.</p>
			</div>
		</div>
		<script>
			// Obtener referencia al iframe
			var iframe = document.getElementById('myIframe');
	
			// Manejar evento de carga del iframe
			iframe.onload = function() {
				setTimeout(function() {
					var url = '<%= data.url %>';
					//url = "https://as.com/futbol/primera/palo-para-el-barcelona-dest-se-rompe-el-cruzado-n/";
					
					console.log(url);
					if (url.includes('https://as.com/')) {
						window.location.href = '<%= data.url %>';
					}
				}, 100);
			};
		</script>
	</body>
</html>